{{define "common/header"}}
<div id="header">
	<a href="/Selection/Select">Return</a>
	<a href="/Selection/View/Tech">Technologies</a>
	<a href="/Selection/View/Category">Categories</a>
	<a href="/Selection/View/Need">Needs</a>
</div>
{{end}}