{{define "common/style"}}
<style>
	body {
		margin: 0;
	}
	
	#header {
		width: 100%;
		display: flex;
		padding: 1rem;
		gap: 2rem;
		background-color: #4a7cf3;
	}

	#header a {
		text-decoration: none;
		color: white;
	}
</style>
{{end}}